[["alstom-site-1" :site/url "https://www.alstom.com" 1 :add]
 ["alstom-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["alstom-site-1" :site/http-status 200 1 :add]
 ["alstom-site-1" :site/title "Realise the power of rail | Alstom" 1 :add]
 ["alstom-site-1" :site/description "Leading the way to greener and smarter mobility worldwide, Alstom develops and markets integrated systems that provide the sustainable foundations for the future of transportation." 1 :add]]
